.btn {
    background: linear-gradient(360deg, #FAFAFC 0%, #FFFFFF 100%);
    border: 1px solid rgba(178, 187, 213, 0.5);
    box-shadow: 0px 1px 2px #E6E8F0;
    border-radius: 3px;
    width: 123px;
    height: 40px;
    color: #707EA7;
}